{% include 'navbar.html'%}

{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="card">
            <div class="jumbotron">
                
                <h5 class="card-text text-center">{{pitch.content}}.</h5>
            </div>
        </div>
    </div>
    <div class="row">
        
            <div class="col-md-6">
                {{wtf.quick_form(form)}}
            </div>

        <div class="col-md-6">
            <h4 style="color: brown; text-align: center;text-underline-position: below">Comments:</h4>
            <ul>
               <li> {{ macro.displayComment(comment) }}</li>
            </ul>

        </div>
    </div>



</div>
{% endblock %}