{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to The best Pitches Website </title>
        {% endif %}
    </head>
    <body>
        {% block content %}
      <div class="container">
          <h1>Welcome to The best Pitches Website </h1>
     
      <h3> Health category</h3>
       <ul>
            {{ macro.displayCategoryList(Health)}}
        </ul>
        <h3> Agriculture category </h3>
        <ul>
            {{ macro.displayCategoryList(Agriculture)}}
        </ul>
        <h3> Business category </h3>
        <ul>
            {{ macro.displayCategoryList(Business)}}
        </ul>
    </div>
      {% endblock%}
       

    </body>
</html