{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to The best Pitches Website </title>
        {% endif %}
    </head>
    <body>
        {% block content %}
      <div class="container">
          <h1>Welcome to The best Pitches Website </h1>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="{{ macro.displayCategoryList(Health)}}">Health</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="{{ macro.displayCategoryList(Agriculture)}}">Agriculture</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="{{ macro.displayCategoryList(Business)}}">Business</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="{{ macro.displayCategoryList(Motivational)}}">Motivational</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="{{ macro.displayCategoryList(Fashion)}}">Fashion</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="{{ macro.displayCategoryList(Enterpreneurship)}}">Enterpreneurship</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="{{ macro.displayCategoryList(Creativity)}}">Creativity</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="{{ macro.displayCategoryList(Sport)}}">Sport</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="{{ macro.displayCategoryList(Geography)}}">Geography</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="{{ macro.displayCategoryList(Economics)}}">Economics</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="{{ macro.displayCategoryList(Humanity)}}">Humanity</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="{{ macro.displayCategoryList(Promotion)}}">Promotion</a>
        </div>
    </div>
      {% endblock%}
    </body>
</html