<!-- <h1> Pitch {{ id }} </h1>     
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Content block -->
<!-- {% block content %}
<div class="container"> -->

    <!-- Poster background -->
    <!-- <div class="row">
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
            <h3>{{ pitch.title }}</h3>

            <p class="overview"> {{ pitch.overview }}</p>
            <p class="ratings"> <b> {{ pitch.vote_average }}</b> - <i>{{ pitch.vote_count}} upvotes </i> </p>
            <p class="ratings"> <b> {{ pitch.vote_average }}</b> - <i>{{ pitch.vote_count}} downvotes </i> </p>
            <a class="ratings" href="/pitch/review/new/{{pitch.id}}"> Write a new Picth</a>


        </div>
    </div>
    <div class="row">

        <h1>Comments</h1>
        <hr> -->
<!-- 
        {% if comments %}
            {{macro.displayComments(comments)}}

        {% else%}
            <h3 class="text-center">Add your comment  </h3>

            <a class="btn btn-success btn-lg text-center" href="/pitch/comment/new/{{pitch.id}}"> Write your comment</a>
        {% endif %}

    </div>

</div>
{% endblock %} --> 